body {
  padding: 0;
  box-sizing: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (max-width: 550px) {
  header {
    display: flex;
    padding: 5%;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
  }

  .headerDerecha {
    display: inline-flex;
    align-items: center;
    display: flex;
  }

  .headerIzq {
    display: flex;
    align-items: center;
  }

  #Perfil {
    height: 28px;
  }

  #menu {
    height: 110%;
    padding-bottom: 4%;
    padding-top: 2%;
    padding-right: 20px;
  }

  #Logo {
    height: 110%;
  }

  #Carrito {
    height: 110%;
  }

  .menuMobile {
    position: absolute;
    z-index: 1;
    background-color: rgb(241, 241, 241);
    height: 100%;
    width: 60%;
  }

  .menuMobile ul li {
    font-size: 25px;
    text-decoration: none;
    list-style: none;
    position: relative;
    top: 80px;
    padding-top: 30px;
  }

  .carousel {
    z-index: -1;
  }

  #productoMarca {
    color: orange;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 70%;
    padding-bottom: 3%;
  }

  #productoNombre {
    color: black;

    font-size: 180%;
    line-height: 100%;
    padding-bottom: 3%;
    font-weight: bolder;
  }

  #productoDescripcion {
    color: grey;
    padding-bottom: 3%;
  }

  .infoProducto {
    padding-top: 4%;
    padding-left: 4%;
    padding-right: 4%;
    font-family: "Montserrat", sans-serif;
  }

  .precio {
    padding-left: 4%;
    padding-right: 4%;
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    align-items: center;
  }

  #productoDescuento {
    font-size: 200%;
    padding-right: 7%;
  }

  #descuento {
    font-size: 100%;
    font-weight: bolder;
    background-color: #f6ede4;
    padding: 2%;
    border-radius: 30%;
    color: orange;
  }

  #productoPrecio {
    color: rgb(160, 160, 160);
    text-decoration: line-through;
    font-weight: normal;
    position: absolute;
    top: 129%;
    right: 4%;
  }

  .contador {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 150%;
    background-color: #f7f8fd;
    border-radius: 10px;
    margin: 4%;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 3%;
    padding-top: 3%;
    font-weight: 500;
  }

  .contadorCarrito {
    position: absolute;
    top: 3%;
    right: 14%;
    font-size: smaller;
    color: #ffffff;
    background: orange;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 50%;
    z-index: 3;
  }

  .botonContador {
    font-weight: 700;
    padding: 0;
    font-size: 120%;
    background: none;
    border: none;
    color: orange;
  }

  .botonAddCont {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #botonDisabled {
    background-color: rgb(155, 155, 155);
    box-shadow: none;
  }

  .botonAdd {
    display: flex;
    color: #ffffff;
    font-size: 110%;
    background-color: #fe7e19;
    border: none;
    border-radius: 10px;
    margin: 4%;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 3%;
    padding-top: 3%;
    font-weight: 500;
    box-shadow: 4px 5px 20px 6px #fe7c1949;
  }

  #checkout {
    position: relative;
    left: 8%;
    margin-top: 8%;
  }

  #Carrito {
    margin-right: 5px;
  }

  .carrito {
    height: 35%;
    width: 90%;
    border-radius: 10px;
    position: absolute;
    top: 11%;
    right: 3%;
    background: white;
    box-shadow: 4px 5px 20px 6px #42261149;
    padding: 4%;
    font-family: "Montserrat", sans-serif;
  }

  .Carrito-Icono {
    position: absolute;
    top: 4%;
    right: 15%;
  }

  .cart {
    font-weight: bolder;
    font-size: 110%;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  #cartEmpty {
    font-size: 120%;
    font-weight: bolder;
    color: grey;
    position: relative;
    top: 25%;
    left: 22%;
  }

  #thumbnailCart {
    width: 20%;
    border-radius: 7%;
    margin-right: 3%;
  }

  #infoCompra {
    display: flex;
    position: relative;
    margin: 1%;
  }

  #carritoCompra {
    margin-top: 6%;
  }

  .textoInfo {
    color: grey;
  }

  #total {
    color: black;
    font-weight: bolder;
  }

  #borrar {
    border: none;
    background: none;
  }

  #imgBorrar {
    height: 30%;
  }

  .menuDesktop {
    display: none;
  }

  .prodThumbnail,
  .prodPrincipal {
    display: none;
  }
}

@media (min-width: 550px) {
  header .menu,
  header .cerrar {
    display: none;
    cursor: pointer;
  }

  nav {
    margin-top: 2%;
  }

  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  nav ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
    position: relative;
    bottom: 3px;
  }

  nav ul li a {
    text-decoration: none;
    color: black;
  }

  #Logo {
    position: relative;
    bottom: 5px;
  }

  #Perfil {
    height: 28px;
    position: relative;
    bottom: 6px;
  }

  .carousel {
    display: none;
  }

  .prodThumbnail {
    position: relative;
    height: 60px;
    left: 4%;
    margin-left: 3%;
    margin-top: 5%;
    margin-right: 3%;
    border-radius: 10px;
  }
  .prodThumbnails {
    margin-top: 5%;
  }

  .prodPrincipal {
    height: 350px;
    border-radius: 10px;
  }

  .desktopDiv {
    margin-right: 15%;
    margin-left: 15%;
    display: flex;
  }

  #productoMarca {
    color: orange;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 70%;
    padding-bottom: 3%;
  }

  #productoNombre {
    color: black;
    font-size: 180%;
    line-height: 100%;
    padding-bottom: 3%;
    font-weight: bolder;
  }

  #productoDescripcion {
    color: grey;
    padding-top: 5%;
    font-size: small;
  }

  .infoProducto {
    position: relative;
    top: 25px;
    padding-top: 4%;
    padding-left: 8%;
    padding-right: 4%;
    font-family: "Montserrat", sans-serif;
  }

  .precio {
    padding-top: 5%;
    padding-left: 9%;
    padding-right: 6%;
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    align-items: center;
  }

  #productoDescuento {
    font-size: 150%;
    padding-right: 7%;
  }

  #descuento {
    font-size: 70%;
    font-weight: bolder;
    background-color: #f6ede4;
    padding: 2%;
    border-radius: 30%;
    color: orange;
  }

  #productoPrecio {
    color: rgb(160, 160, 160);
    text-decoration: line-through;
    font-weight: normal;
    padding-left: 10%;
    font-size: 70%;
  }

  .contador {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f7f8fd;
    border-radius: 10px;
    margin: 4%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 3%;
    padding-top: 3%;
    font-weight: 500;
  }

  .contadorAdd {
    margin-left: 6%;
    display: flex;
  }

  .botonContador {
    font-weight: 700;
    padding: 0;
    font-size: 120%;
    background: none;
    border: none;
    color: orange;
  }

  .botonAddCont {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #botonDisabled {
    background-color: rgb(155, 155, 155);
    box-shadow: none;
  }

  .botonAdd {
    width: 300px;
    display: flex;
    color: #ffffff;
    background-color: #fe7e19;
    border: none;
    border-radius: 10px;
    margin: 4%;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 6%;
    padding-top: 6%;
    font-weight: 500;
    box-shadow: 4px 5px 20px 6px #fe7c1949;
  }

  #checkout {
    position: relative;
    width: 70%;
    height: 50px;
    left: 12%;
    margin-top: 3%;
    align-items: center;
  }

  #Carrito {
    margin-right: 5px;
  }

  .carrito {
    height: 35%;
    width: 30%;
    border-radius: 10px;
    position: absolute;
    top: 14%;
    right: 10%;
    background: white;
    box-shadow: 4px 5px 20px 6px #42261149;
    padding: 2%;
    font-family: "Montserrat", sans-serif;
  }

  .Carrito-Icono {
    position: absolute;
    top: 7%;
    right: 13%;
  }

  .contadorCarrito {
    position: absolute;
    top: 6.2%;
    right: 12.5%;
    font-size: smaller;
    color: #ffffff;
    background: orange;
    padding-left: 0.5%;
    padding-right: 0.5%;
    border-radius: 50px;
  }

  .cart {
    font-weight: bolder;
  }

  #cartEmpty {
    font-size: 80%;
    font-weight: bold;
    color: grey;
    position: relative;
    top: 25%;
    left: 30%;
  }

  #thumbnailCart {
    width: 15%;
    height: 15%;
    border-radius: 7%;
    margin-right: 3%;
  }

  #infoCompra {
    display: flex;
    position: relative;
    margin: 1%;
  }

  #carritoCompra {
    margin-top: 6%;
  }

  .textoInfo {
    color: grey;
    font-size: small;
  }

  #total {
    color: black;
    font-weight: bolder;
  }

  #borrar {
    position: absolute;
    right: 3%;
    border: none;
    background: none;
  }

  #imgBorrar {
    height: 40%;
  }

  .contenedorLightbox {
    max-width: 1350px;
    padding: 0px 60px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
  }

  .contenedorLightbox img {
    cursor: pointer;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 100;
  }
}
